:host{
    display: block;
    margin-top: 1rem;
}
.mat-body-1{
    margin: auto;
    width: 30%;
}
mat-spinner{
    margin: auto;
}
.post-image img{
    width: 100%;
    box-shadow:  1px 1px 5px rgb(0,0,0,0.5);
}